body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color: rgba(255, 154, 188, 0.963); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  */
* {
  margin: 0;
  padding: 0;
}

/* ul {
  list-style-type: none;
  background-color: rgb(209, 107, 107); */
  /* overflow: hidden;
  padding: 2%;
}
li {
  display: inline;
}
li a {
  text-decoration: none;
  color: rgb(172, 72, 72); 
  font-size: 20px;
  padding:2%;
  background-color: blanchedalmond;
}
li a:hover{
  background-color: rgb(172, 72, 72);
  color: blanchedalmond;
} */

.recipes {
  margin:50px 10px 10px 10px;
  padding: 2%;
  color: rgb(251, 130, 130);
  background-color:rgb(221, 160, 221);
  text-align: left;
}

button {
  text-decoration: none;
  color: rgb(251, 137, 211);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  /* --bs-accordion-btn-focus-box-shadow: none; */
  
  /* display:inline-block; */
  border-radius: 3px;
  padding: 10px;
  /* --bs-accordion-active-bg: #ff5c8d */
  
}
button:hover {
  background-color:rgb(241, 141, 179); /*Changes background color*/
  color:rgb(210, 10, 10); /*Changes text color*/
}

 .cards img {
  max-width: 150px;
  height: auto;
  display: block; 
}
.cards {
  padding: 2%;
  display: flex;
  flex-wrap: wrap; 
  gap: 1%;
  border: solid 5px black;
  border-radius: 10px;
  margin:5%;
  /* text-align: center; */
} 
